@{
  Layout = "_Layout";
  ViewData["Title"] = "Remove Pet";
}

@model PurrBnB.Models.Pet

<div class="row">
  <div class="col-md-12">
    <h1>Remove Pet</h1>
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Are you sure you want to remove this pet?</h1>
      </div>
      <div class="card-body">
        <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
        @using (Html.BeginForm()){
          <input type="submit" value="Delete" class="btn btn-outline"/>
        }
        <button class="btn btn-outline">@Html.ActionLink("Back to Pets", "Index")</button>
      </div>
    </div>
  </div>  
</div>