@{
  Layout = "_Layout";
  ViewData["Title"] = "Pets";
}

@using PurrBnB.Models;
@model IEnumerable<PurrBnB.Models.Pet>

<div class="row">
  <div class="col-md-12">
    
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Pets</h1>
      </div>
      <div class="card-body">
        @if (@Model.Count() == 0){
          <h3>No pets have been added yet!</h3>
        }
        @foreach (Pet pet in Model){
          <h3>@Html.ActionLink($"{pet.Name}", "Details", new {id = pet.PetId})</h3>
        }
      </div>
    </div>
    
    <button class="btn btn-outline">
      @Html.ActionLink("Add new pet", "Create")
    </button>

    <button class="btn btn-outline">
      @Html.ActionLink("Home", "Index", "Home")
    </button>
    
  </div>
</div>




