@model IEnumerable<PurrBnB.Models.Dwelling>


<div id="map" style="height:400px;width:100%;"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=@PurrBnB.Models.EnvironmentVariables.ApiKeyGoogle&callback=initMap&v=weekly" defer></script>
<script type="text/javascript">
  // Initialize and add the map
  function initMap() {
    // Center of United States 44.64792861834611, -103.8564047589624
    const centerOfUS = { lat: 44.64792861834611, lng: -103.8564047589624 };
    // The map, centered at Belle Fourche, SD
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: centerOfUS,
    });

    // The marker, positioned at center
    @foreach(var dwelling in @Model)
    {
      <text>
        var constImage = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
        var myLatLong = { lat: @dwelling.DwellingLat, lng: @dwelling.DwellingLong };
        var marker = new google.maps.Marker({
        position: myLatLong,
        map: map,
        icon: constImage,
        });
      </text>
    }
  }
  window.initMap = initMap;
</script>