@model IEnumerable<PurrBnB.Models.Dwelling>

<div id="map" style="height:400px;width:100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDviYEqiPAMcdqCCwr0DTCOQq0XYv8Fge0&callback=initMap&v=weekly" defer></script>

<script type="text/javascript">
  // Initialize and add the map
  function initMap() {
    // The location of Portland
    const portland = { lat: 45.503, lng: -122.583 };
    // The map, centered at Portland
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 7,
      center: portland,
    });

    // The marker, positioned at center
    @foreach(var dwelling in @Model)
    {
      <text>
        var @dwelling.DwellingName = { lat: @dwelling.DwellingLat, lng: @dwelling.DwellingLong };
        var marker = new google.maps.Marker({
        position: @dwelling.DwellingName,
        map: map,
        });
      </text>
    }
  }
  window.initMap = initMap;
</script>