<div class="row">
  <h1 id="logo">PurrBnB</h1>
  <ul class="nav row">
    <li class="nav-item">
      @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link"})
    </li>
    <li class="nav-item">
      @Html.ActionLink("Dwelling", "Index", "Dwellings", null, new { @class = "nav-link"})
    </li>
    <li class="nav-item">
      @Html.ActionLink("Reservation", "Index", "Reservations", null, new { @class = "nav-link"})
    </li>
  </ul>
  <form id="searchBar" class="form-inline my-sm-0">
    <a href='~/Account/Index'><button id="button" type="button" class="btn btn-outline-e6ab8c; my-sm-0"
        style="width:150px">Login</button></a><br>
  </form>
</div>