@{
  Layout = "_Layout";
  ViewData["Title"] = "Cancel Reservation";
}

@model PurrBnB.Models.Reservation

<h2>Delete</h2>

<h4>Delete this reservation: @Html.DisplayFor(model => model.ReservationId)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}