@{
  ViewData["Title"] = "Home";
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-12">
    <div id="card" class="card border-dark mb-3">
      <div class="card-header">
        <h1 id="title" class="text-center">Welcome to PurrBnB!</h1>
      </div>
      <div class="card-body text-center">
        <button class="btn btn-outline-primary">@Html.ActionLink("Make a Reservation", "Index", "Reservations")</button> &nbsp;
        <button class="btn btn-outline-primary">@Html.ActionLink("Create a Listing", "Index", "Dwellings")</button>
        @{
          System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
        }
        @if (!User.Identity.IsAuthenticated)
        {
          <button class="btn btn-outline-primary">@Html.ActionLink("Create User Account", "Index", "Account")</button>
        }
      </div>
    </div>
  </div>
</div>